{% extends 'base.html' %}
{% load static %}

{% block style %}

    <link href={% static 'css/actualite.css' %} rel="stylesheet" />

{% endblock %}

{% block content %}

<div class="contain">
    <div class="sidediv" id="side">
        <div class="content">
            <div class="titre">
                <h2>Chronologie</h2>
            </div>
        <ul>
            <li><a class="button" href="#1">Janvier 2022</a></li>
            <li><a class="button" href="#2">Février 2022</a></li> 
            <li><a class="button" href="#3">Mars 2022</a></li>
        </ul>
        </div>
    </div>
    <div class="grid">
        <div class="box" id="1">
            <div class="haut">
                <img src={% static 'img/istockphoto-1281320991-612x612.jpg' %}>
                <hr>
            </div>
            <div class="bas">
                <div class="desc">
                    <h2>TITRE</h2>
                    <p>
                        Logoden biniou degemer mat, an. Merkañ ar c’hav Plouzane, holl. Wern klevout kregiñ dezho, tost. War Doue azezañ trubard, dre. Drezout Baden kousket kof, etrezek. Taol paeañ sigaretenn kazh, c’helec’h. Fri beuziñ evidoc'h c’haier, Santez-Seo. Paotred me dirak  gaou, gwriat. Ur kompren war spi, gallek. C’hoant kenavo e diwall, muiañ.
                    </p>
                </div>
            </div>
        </div>
        <div class="box" id="2">
            <div class="haut">
                <img src={% static 'img/cerise.jpg' %}>
                <hr>
            </div>
            <div class="bas">
                <div class="desc">
                    <h2>TITRE</h2>
                    <p>
                        Logoden biniou degemer mat, an. Merkañ ar c’hav Plouzane, holl. Wern klevout kregiñ dezho, tost. War Doue azezañ trubard, dre. Drezout Baden kousket kof, etrezek. Taol paeañ sigaretenn kazh, c’helec’h. Fri beuziñ evidoc'h c’haier, Santez-Seo. Paotred me dirak  gaou, gwriat. Ur kompren war spi, gallek. C’hoant kenavo e diwall, muiañ.
                    </p>
                </div>
            </div>
        </div>
        <div class="box" id="3">
            <div class="haut">
                <img src={% static 'img/framboise.jpg' %}>
                <hr>
            </div>
            <div class="bas">
                <div class="desc">
                    <h2>TITRE</h2>
                    <p>
                        Logoden biniou degemer mat, an. Merkañ ar c’hav Plouzane, holl. Wern klevout kregiñ dezho, tost. War Doue azezañ trubard, dre. Drezout Baden kousket kof, etrezek. Taol paeañ sigaretenn kazh, c’helec’h. Fri beuziñ evidoc'h c’haier, Santez-Seo. Paotred me dirak  gaou, gwriat. Ur kompren war spi, gallek. C’hoant kenavo e diwall, muiañ.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}