{% extends 'base.html' %}
{% load static %}

{% block style %}

    <link href={% static 'css/contact.css' %} rel="stylesheet" />

{% endblock %}

{% block content %}

<div class="contain">
  <div class="grid">
      <div class="gauche">
          <div class="content">
              <h1>NOS HORAIRES</h1>
              <div class="graphe">
                  <div>
                      <p>LUNDI</p>
                      <div class="image">
                          <img src={% static 'img/arrow.svg' %}>
                      </div>
                      <p> 09:00 - 19:00 </p>
                  </div>
                  <div>
                      <p>MARDI</p>
                      <div class="image">
                          <img src={% static 'img/arrow.svg' %}>
                      </div>
                      <p> 09:00 - 19:00 </p>
                  </div>
                  <div>
                      <p>MERCREDI</p>
                      <div class="image">
                          <img src={% static 'img/arrow.svg' %}>
                      </div>
                      <p> 09:00 - 19:00 </p>
                  </div>
                  <div>
                      <p>JEUDI</p>
                      <div class="image">
                          <img src={% static 'img/arrow.svg' %}>
                      </div>
                      <p> 09:00 - 19:00 </p>
                  </div>
                  <div>
                      <p>VENDREDI</p>
                      <div class="image">
                          <img src={% static 'img/arrow.svg' %}>
                      </div>
                      <p> 09:00 - 19:00 </p>
                  </div>
                  <div>
                      <p>SAMEDI</p>
                      <div class="image">
                          <img src={% static 'img/arrow.svg' %}>
                      </div>
                      <p> 09:00 - 19:00 </p>
                  </div>
                  <div>
                      <p>DIMANCHE</p>
                      <div class="image">
                          <img src={% static 'img/arrow.svg' %}>
                      </div>
                      <p class="red">FERMÉ</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="droite">
          <div class="formulaire">
              <h1>NOUS CONTACTER</h1>
              <form>
                  <div>
                      <label for="name">NOM</label>
                      <input type="text" id="name" name="user_name">
                  </div>
                  <div>
                      <label for="surname">PRENOM</label>
                      <input type="text" id="surname" name="user_surname">
                  </div>
                  <div>
                      <label for="mail">ADRESSE MAIL</label>
                      <input type="email" id="mail" required>
                  </div>
                  <div>
                      <label for="objet">OBJET</label>
                      <input type="text" id="objet" required>
                  </div>
                  <div>
                      <label for="msg">MESSAGE</label>
                      <textarea type="textarea" id="msg" required></textarea>
                  </div>
                  <div>
                      <button type="submit">ENVOYER</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <div class="line">
      <hr>
  </div>

  <div class="carte">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.871641146266!2d-3.8329906840657677!3d48.59315652729885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4811612255e69041%3A0x51f06c17e20482f1!2sCerise%20et%20basilic%20fruits%20et%20l%C3%A9gumes!5e0!3m2!1sfr!2sfr!4v1647893138835!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>

{% endblock content %}