{% extends 'base.html' %}
{% load static %}

{% block style %}

    <link href={% static 'css/equipe.css' %} rel="stylesheet" />

{% endblock %}


{% block content %}

<div class="contain">
<div class="haut">
    <h1>NOTRE EQUIPE</h1>
    <img src="{% static 'img/equipe.jpg' %}">
</div>

<div class="line"><hr></div>

<div class="grid">
    <div class="card">
        <div class="haut">
            <img src="{% static 'img/vanGog.jpg' %}">
        </div>
        <div class="bas">
            <div class="text">
                <h2>NOM-POSTE</h2>
                <p>Logoden biniou. Beg horolaj. Ostaleri lemm. Pehini koant. Diaoul neuze. Teurel c’haod. Menoz diwezhañ. Niverenn stlakañ. Naer honnezh. Melen ha.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="haut">
            <img src="{% static 'img/joconde.jpg' %}">
        </div>
        <div class="bas">
            <div class="text">
                <h2>NOM-POSTE</h2>
                <p>Logoden biniou. Beg horolaj. Ostaleri lemm. Pehini koant. Diaoul neuze. Teurel c’haod. Menoz diwezhañ. Niverenn stlakañ. Naer honnezh. Melen ha.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="haut">
            <img src="{% static 'img/fille.jpg' %}">
        </div>
        <div class="bas">
            <div class="text">
                <h2>NOM-POSTE</h2>
                <p>Logoden biniou. Beg horolaj. Ostaleri lemm. Pehini koant. Diaoul neuze. Teurel c’haod. Menoz diwezhañ. Niverenn stlakañ. Naer honnezh. Melen ha.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="haut">
            <img src="{% static 'img/vanGog.jpg' %}">
        </div>
        <div class="bas">
            <div class="text">
                <h2>NOM-POSTE</h2>
                <p>Logoden biniou. Beg horolaj. Ostaleri lemm. Pehini koant. Diaoul neuze. Teurel c’haod. Menoz diwezhañ. Niverenn stlakañ. Naer honnezh. Melen ha.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="haut">
            <img src="{% static 'img/vanGog.jpg' %}">
        </div>
        <div class="bas">
            <div class="text">
                <h2>NOM-POSTE</h2>
                <p>Logoden biniou. Beg horolaj. Ostaleri lemm. Pehini koant. Diaoul neuze. Teurel c’haod. Menoz diwezhañ. Niverenn stlakañ. Naer honnezh. Melen ha.</p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}