{% extends 'base.html' %}
{% load static %}

{% block style %}

    <link href={% static 'css/produit.css' %} rel="stylesheet" />
    <link href={% static 'css/modal.css' %} rel="stylesheet" />

{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src={% static 'js/subnav.js' %}></script>
    <script src={% static 'js/defillement.js' %}></script> 
    <script 
        src={% static 'js/modals.js' %} 
        defer
    >
    </script>
    <script 
        src={% static 'js/scroll.js' %} 
        defer
    >
    </script>

{% endblock %}

{% block content %}

    <button onclick="topFunction()" id="ScrollBtn" title="Go to top">↑</button>


    <!-- Spinner Boostrap -->
    <!-- TODO: a Changé -->

    {% comment %}  <div class="text-center">
        <div class"spinner-border" role="status" id="spinner"></div>
    </div> {% endcomment %}

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="modal-body" id="modal-body">

            {% comment %}Injected Code{% endcomment %}
            
            </div>
        </div>
    </div>

    <div class="subnav" id="sc">
        <nav>
            <ul>
                {% for categorie, CATEGORIE in categories.items  %}
                    <li><a class="{{ categorie }}" href="#id{{ categorie }}">{{ CATEGORIE }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <div class="contain">

        {% for categorie, produits in inv.items %}

            <div class="{{ categorie }}" id="id{{ categorie }}">

                <h2>{{ categorie }}</h2>

                <div class="grid">

                    {% for produit in produits %}

                        <div class="card">

                            {% if produit.disponibile %}

                                <img 
                                    class="img-product trigger"
                                    src="/upload/{{ produit.image }}" 
                                    alt="Image du produit" 
                                    id="myBtn"
                                    data-name="{{ produit.nom }}"
                                    data-desc="{{ produit.description }}" 
                                    data-price="{{ produit.prix }}"
                                    data-unite="{{ produit.unite }}"
                                    data-dispo="{{ produit.disponibile }}"
                                    data-static="{% static '' %}"
                                >   

                            {% else %}

                                <img 
                                    class="img-product trigger"
                                    src="/upload/{{ produit.image }}" 
                                    alt="Image du produit" 
                                    id="myBtn"
                                >

                            {% endif %}

                            <div class="desc">

                                <h3>{{ produit.nom }}</h3>

                                <p>{{ produit.prix }}€ / {{ produit.unite }}</p>

                            </div>

                            {% if not produit.disponibile %}

                                <div 
                                    class="overlay trigger {{ produit.disponibile }}" 
                                    id="myBtn"
                                    src="/upload/{{ produit.image }}" 
                                    data-name="{{ produit.nom }}"
                                    data-desc="{{ produit.description }}" 
                                    data-price="{{ produit.prix }}"
                                    data-unite="{{ produit.unite }}"
                                    data-dispo="{{ produit.disponibile }}"
                                    data-static="{% static '' %}"
                                >

                                    <div 
                                        class="text {{ produit.disponibile }}" 
                                        id="myBtn"
                                        src="/upload/{{ produit.image }}" 
                                        data-name="{{ produit.nom }}"
                                        data-desc="{{ produit.description }}" 
                                        data-price="{{ produit.prix }}"
                                        data-unite="{{ produit.unite }}"
                                        data-dispo="{{ produit.disponibile }}"
                                        data-static="{% static '' %}"
                                    >

                                        Non disponible

                                    </div>
                                </div> 

                            {% endif %}

                        </div>

                    {% endfor %}

                </div>

            </div>

        {% endfor %}
    
    </div>

{% endblock %}