{% load static %}
<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />

    <link href={% static 'css/header.css' %} rel="stylesheet" />
    <link href={% static 'css/fonts.css' %} rel="stylesheet" />
    <link href={% static 'css/base.css' %} rel="stylesheet" />

    <link href={% static 'css/produit.css' %} rel="stylesheet" />
    <link href={% static 'css/modal.css' %} rel="stylesheet" />

    <link rel="shortcut icon" href={% static 'img/favicon.png' %}>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src={% static 'js/subnav.js' %}></script>
    <script src={% static 'js/modals.js' %} defer></script>
    <script src={% static 'js/defillement.js' %}></script> 

    <title>Cerise & Basilic</title>

  </head>

  <body>

    <h2>Animated Modal with Header and Footer</h2>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Open Modal</button>
    
    
  </body>
</html>
