* {
  background: none;
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8vh;
}

.contain > .grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
  gap: 6vw;
}

.contain > .grid > div {
  border: 1px solid #AAAAAA;
  width: 40vw;
  height: 80vh;
  border-radius: 2vh;
}

.contain > .grid > .droite > .formulaire {
  display: flex;
  flex-direction: column;
  margin: 4vh;
  gap: 4vh;
}

.contain > .grid > .droite > .formulaire > h1 {
  font-size: 2vw;
  color: var(--vargreen);
}

.contain > .grid > .droite > .formulaire > form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.contain > .grid > .droite > .formulaire > form > div {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  position: relative;
  overflow: hidden;
}

.contain > .grid > .droite > .formulaire > form > div > label {
  font-size: 1.5vw;
}

.contain > .grid > .droite > .formulaire > form > div > input  {
  height: 4vh;
 /*  border: 1px solid #AAAAAA; */
  border-radius: 1vh;
  background-color: #ffffff;

  padding: 15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  font-size: 1vw;
}

.contain > .grid > .droite > .formulaire > form > div > textarea  {
  height: 15vh;
  /* border: 1px solid #AAAAAA; */
  border-radius: 1vh;
  background-color: #ffffff;

  padding: 10px 5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  font-size: 1vw;
}


.contain > .grid > .droite > .formulaire > form > div > button {
  width: 30%;
  height: 6vh;
  border: 2px solid var(--vargreen);
  border-radius: 1vh;
  font-weight: 500;
  font-size: 1vw;
  margin-top: 1vh;
  color: #000000;
  background-color: #ffffff;
  transition: color 330ms ease-in-out, border 330ms ease-in-out, background-color 330ms ease-in-out;
}

.contain > .grid > .droite > .formulaire > form > div > button:hover {
  background-color: var(--vargreen);
  color: #ffffff;
  border: 1px solid var(--vargreen);
  transition: color 330ms ease-in-out, border 330ms ease-in-out, background-color 330ms ease-in-out; 
}

.contain > .grid > .gauche > .content {
  display: flex;
  flex-direction: column;
  margin: 4vh;
  gap: 4vh;
}

.contain > .grid > * {
  background-color: #e7e7e7;
}

.contain > .grid > .gauche > .content > h1 {
  font-size: 2vw;
  color: var(--vargreen);
}

.contain > .grid > .gauche > .content > .graphe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4vh;

}

.contain > .grid > .gauche > .content > .graphe > div {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-size: 1.5vw;

}

.contain > .grid > .gauche > .content > .graphe > div > .image {
  display: flex;
  justify-content: center;
}

.carte {
  width: 100%;
}

.line {
  border: none;
  height: 1px;
  background-color: black;
  width: 90%;
  margin: 8vh 0;
}

input:valid {
  border: 1px solid green;
}

.red {
  color: rgb(202, 4, 4);
}